* {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
}

#player1board,
#player2board {
  display: grid;
  grid-template-columns: repeat(1fr, 50px);
  grid-template-rows: repeat(1fr, 50px);
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}

#player1container {
  display: flex;
  flex-direction: column;
}

#boardsContainer,
#namesContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#namesContainer {
  justify-content: center;
  align-items: center;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
