:root {
  --primary-color: #2c3e50;
  --secondary-color: #4a6eaf;
  --text-color: #f9f9f9; /* Light Text */
}

.light-theme {
  --primary-color: #f9f9f9;
  --text-color: #2c3e50;
}

.dark-theme {
  --primary-color: #2c3e50; /* Dark Background */
  --text-color: #f9f9f9; /* Light Text */
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  gap: 0;
  align-items: center;
}

input,
button,
#player2name {
  width: fit-content;
  display: flex;
  align-self: center;
}

button {
  background-color: var(--secondary-color); /* React-like blue */
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3; /* Darker blue */
  transform: translateY(-2px); /* Slight lift */
}

button:active {
  background-color: #004099;
  transform: translateY(0px);
}

button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
  box-shadow: none;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.2s ease;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}

input.error {
  border-color: #dc3545; /* Bootstrap danger red */
  box-shadow: 0 0 6px rgba(220, 53, 69, 0.3);
}

input::placeholder {
  color: #999;
}

#player1board,
#player2board {
  display: grid;
  grid-template-columns: repeat(1fr, 50px);
  grid-template-rows: repeat(1fr, 50px);
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}

#player1container,
#player2container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#boardsContainer {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 50px;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#settingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  width: 100px;
}

#player1nameLabel {
  max-width: 500px;
  max-height: 50px;
  overflow-wrap: anywhere;
  overflow: hidden;
}

#player1nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

footer,
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 10px 0;
}

#header {
  max-height: 10vh;
}
